
# Serverless framework config files
.serverless

# Node dependencies
node_modules

# IDEs and editors
.vscode

# pycache files
__pycache__

# Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
